.footer {
  background-color: #131c2a;
  color: #d1d5db;
  padding:50px  20px 4px;
  font-family: "Poppins", sans-serif;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 40px;
  max-width: 1200px;
  margin: auto;
}

.footer-section h3 {
  font-size: 1.1rem;
  margin-bottom: 15px;
  color: #ffffff;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #d1d5db;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section ul li a:hover {
  color: #60a5fa;
}

.footer-logo {
  color: #ffffff;
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.footer-logo span {
  color: #5b76f7;
}

.footer-desc {
  font-size: 0.95rem;
  line-height: 1.5;
  color: #cbd5e1;
  max-width: 300px;
}

.social-icons a {
  color: #d1d5db;
  margin-right: 12px;
  font-size: 1.2rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons a:hover {
  color: #5b76f7;
  transform: scale(1.1);
}

.footer-bottom {
  border-top: 1px solid #1f2937;
  margin-top: 12px;
  text-align: center;
  font-size: 0.9rem;
  color: #9ca3af;
}

.footer-bottom p {
    line-height: 1.6;
    color: #fff;
    margin: 1.5rem;
}

.social-icons a img {
      width: auto;
    height: 25px;

}

/* Responsive Design */

@media (max-width: 1024px) {
 .footer-container {
    display: grid
;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 10px;
    /* max-width: 1200px; */
    margin: auto;
}
}

@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr 1fr;
    text-align: left;
  }
}

@media (max-width: 480px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .social-icons a {
    margin: 0 10px;
  }

  .footer-desc {
    margin: 0 auto;
  }
}
